body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    margin: 1em 0;
}

p {
    line-height: 1.6;
}

a {
    color: #1a73e8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav {
    background-color: #1a73e8;
    padding: 1em 2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.1em;
}

nav a {
    color: #fff;
}

nav a:hover {
    text-decoration: none;
}

h1 {
    background-color: #1a73e8;
    color: #fff;
    padding: 1em;
    text-align: center;
    margin-bottom: 2em;
}

#mapSection {
    margin-bottom: 2em;
}

#map {
    width: 100%;
    height: 400px;
    margin-bottom: 2em;
}

#stationInfo {
    display: flex;
    justify-content: space-between;
}

#weatherWidget {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
}

#weatherIcon {
    margin-bottom: 1em;
}

#recentNews, #cyclingSafety, #aboutCompany {
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 2em;
    margin-bottom: 2em;
}

#recentNews p, #aboutCompany p {
    margin: 0;
}

#cyclingSafety ul {
    list-style: none;
    padding: 0;
}

#cyclingSafety li {
    margin-bottom: 0.5em;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 20px 0;

    margin-left: auto;
    margin-right: auto;
}
form label {
    font-size: 18px;
    margin-bottom: 5px;
}

form input, form select {
    font-size: 16px;
    padding: 5px;
    margin-bottom: 15px;
}

form input[type="submit"] {
    font-size: 18px;
    background-color: #1a73e8;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form input[type="submit"]:hover {
    background-color: #155ebc;
}
